
$sl-black: #252525;
$sl-blue: #2bb3bb;
$sl-light-blue: #dff0f3;
$sl-pink: #c41565;
$sl-light-pink: #f9eaf1;
$sl-orange: #ef8547;
$sl-light-orange: #fdede4;
$sl-yellow: #f8be4f;
$sl-light-yellow: #fef9ef;
$wa-primary: #5e2c80;
$wa-dark-primary: #3b2050;
$wa-light-primary: #6f418f;
$wa-contrast: #f3f3f3;
$wa-dark-contrast: #9b9b9b;
$wa-light-contrast: #ffffff;
$js-primary: #f2bb4d;
$js-dark-primary: #a47e30;
$js-light-primary: #ffde60;
$js-contrast: #333333;
$js-dark-contrast: #212121;
$js-light-contrast: #4f4f4f;