#primary-gradient {
  .stop1 {
    stop-color: $js-dark-primary;
  }
  .stop2 {
    stop-color: $js-light-primary;
  }
}
#contrast-gradient {
  .stop1 {
    stop-color: $js-dark-contrast;
  }
  .stop2 {
    stop-color: $js-light-contrast;
  }
}

.piece {
  fill: $js-primary;
  stroke: $sl-black;
  stroke-width: 0.5;
  stroke-linejoin: round;
}

.contrast {
  .standard {
    fill: $js-contrast;
  }
  .dark {
    fill: $js-dark-contrast;
  }
  .light {
    fill: $js-light-contrast;
  }
  .gradient {
    fill: url(#contrast-gradient);
  }
}

.list {
  .background {
    fill: $sl-light-blue;
    stroke: $sl-blue;
    stroke-weight: 0.5;
  }
  text {
    font-size: 21px;
  }
}

.meta {
  .background {
    fill: $sl-light-pink;
    stroke: $sl-pink;
    stroke-weight: 0.5;
  }
  text {
    font-size: 36px;
  }
}

.arrow {
  fill: $sl-pink;
}
