@import "normalize.css";

$sl-black: #252525;
$sl-blue: #2BB3BB;
$sl-light-blue: #DFF0F3;
$sl-pink: #C41565;
$sl-light-pink: #F9EAF1;
$sl-orange: #EF8547;
$sl-light-orange: #FDEDE4;
$sl-yellow: #F8BE4F;
$sl-light-yellow: #FEF9EF;
$wa-primary: #5e2c80;
$wa-dark-primary: #3b2050;
$wa-light-primary: #6f418f;
$wa-contrast: #f3f3f3;
$wa-dark-contrast: #9b9b9b;
$wa-light-contrast: #ffffff;
$js-primary: #F2BB4D;
$js-dark-primary: #A47E30;
$js-light-primary: #FFDE60;
$js-contrast: #333333;
$js-dark-contrast: #212121;
$js-light-contrast: #4f4f4f;

$sansFontFamily: "objektiv-mk1", sans-serif;
$lightSansFontFamily: $sansFontFamily;

body {
  background-color: #fff;
  font-family: $sansFontFamily;
  font-weight: 300;
  color: $sl-black;
}

h1, h2, h3, h4, h5 {
  font-family: $sansFontFamily;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  border-bottom: 5px solid $sl-blue;
  font-weight: 500;
  color: $sl-black;
  text-decoration: none;

  &:hover {
    background-color: $sl-blue;
  }
}

svg {
  transform-style: preserve-3d;

  text {
    fill: $sl-black;
    font-size: 48px;
    font-weight: 700;
    font-family: $sansFontFamily;
  }
}

#intro, #outro {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  header {
    flex-grow: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }
  section {
    flex-grow: 2;
    display: flex;

    svg {
      flex-grow: 1;
    }
    img {
      object-fit: contain;
      margin: 0 auto;
    }
  }
  footer {
    flex-grow: 1;
  }
}

.step {
  position: relative;
  margin: 0 auto;
  padding: 20px;

  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg.fill {
    height: 100vmin;
    width: 100vmin;
  }
}

#primary-gradient {
  .stop1 {
    stop-color: $js-dark-primary;
  }
  .stop2 {
    stop-color: $js-light-primary;
  }
}
#contrast-gradient {
  .stop1 {
    stop-color: $js-dark-contrast;
  }
  .stop2 {
    stop-color: $js-light-contrast;
  }
}

.piece {
  fill: $js-primary;
  stroke: $sl-black;
  stroke-width: 0.5;
  stroke-linejoin: round;
}

.primary {
  .standard {
    fill: $js-primary;
  }
  .dark {
    fill: $js-dark-primary;
  }
  .light {
    fill: $js-light-primary;
  }
  .gradient {
    fill: url(#primary-gradient);
  }
}

.contrast {
  .standard {
    fill: $js-contrast;
  }
  .dark {
    fill: $js-dark-contrast;
  }
  .light {
    fill: $js-light-contrast;
  }
  .gradient {
    fill: url(#contrast-gradient);
  }
}

.list {
  .background {
    fill: $sl-light-blue;
    stroke: $sl-blue;
    stroke-weight: 0.5;
  }
  text {
    font-size: 21px;
  }
}

.meta {
  .background {
    fill: $sl-light-pink;
    stroke: $sl-pink;
    stroke-weight: 0.5;
  }
  text {
    font-size: 36px;
  }
}

.arrow {
  fill: $sl-pink;
}
