@import url(normalize.css);
body {
  background-color: #fff;
  font-family: "objektiv-mk1", sans-serif;
  font-weight: 300;
  color: #252525; }

h1, h2, h3, h4, h5 {
  font-family: "objektiv-mk1", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 80%; } }

a {
  border-bottom: 5px solid #2BB3BB;
  font-weight: 500;
  color: #252525;
  text-decoration: none; }
  a:hover {
    background-color: #2BB3BB; }

svg {
  transform-style: preserve-3d; }
  svg text {
    fill: #252525;
    font-size: 48px;
    font-weight: 700;
    font-family: "objektiv-mk1", sans-serif; }

#intro, #outro {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  #intro header, #outro header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #intro section, #outro section {
    flex-grow: 2;
    display: flex;
    align-items: center;
    flex-direction: column; }
    #intro section svg, #outro section svg {
      flex-grow: 1; }
  #intro footer, #outro footer {
    flex-grow: 1; }

.step {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .step svg.fill {
    height: 95vmin;
    width: 95vmin; }

#primary-gradient .stop1 {
  stop-color: #A47E30; }

#primary-gradient .stop2 {
  stop-color: #FFDE60; }

#contrast-gradient .stop1 {
  stop-color: #212121; }

#contrast-gradient .stop2 {
  stop-color: #4f4f4f; }

.piece {
  fill: #F2BB4D;
  stroke: #252525;
  stroke-width: 0.5;
  stroke-linejoin: round; }

.primary .standard {
  fill: #F2BB4D; }

.primary .dark {
  fill: #A47E30; }

.primary .light {
  fill: #FFDE60; }

.primary .gradient {
  fill: url(#primary-gradient); }

.contrast .standard {
  fill: #333333; }

.contrast .dark {
  fill: #212121; }

.contrast .light {
  fill: #4f4f4f; }

.contrast .gradient {
  fill: url(#contrast-gradient); }

.list .background {
  fill: #DFF0F3;
  stroke: #2BB3BB;
  stroke-weight: 0.5; }

.list text {
  font-size: 21px; }

.meta .background {
  fill: #F9EAF1;
  stroke: #C41565;
  stroke-weight: 0.5; }

.meta text {
  font-size: 36px; }

.arrow {
  fill: #C41565; }
